@media (min-width:768px) {
	.aboutus__left { background: #F4F4F4; }
	.voiceprint__image img { position: absolute; top: -40px; left: -30px; }
	.step--odd,
	.step--even { padding-right: 50px; padding-left: 50px; }
	.auth__text { width: 280px; }
	.auth .p--arrow img { margin: 0 0 -20px -40px; }
	footer h3 { font-weight: 600px; font-size: 64px; line-height: 64px; letter-spacing: -4px; text-align: center; }
	footer dl,
	.social-icons { margin-top: 10px; }
}
@media screen and (max-width:767px) {
	ul.nav-menu {display: none; width: 100%; height: 0; padding: 0; overflow: hidden; }
	ul.nav-menu.active { display:block; min-height:150px; }
	ul.nav-menu li { width: 100%; }
	ul.nav-menu li a { width: 100%; padding: 0; text-align: center; }
	ul.nav-menu li a:hover { background-color: #1c1c1c; }
	.nav-toggle { display: block; }
}
@media screen and (min-width:768px){
	.nav-overlay.active { visibility: hidden; opacity: 0; }
}